.reminderForm .textarea,
.reminderForm .rc-time-picker-input {
  font-family: inherit;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #333;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  padding: 3px 5px;
  margin: 0;
  outline: 0;
}
.reminderForm .textarea,
.reminderForm .textarea::placeholder,
.reminderForm .rc-time-picker-input,
.reminderForm .rc-time-picker-input::placeholder {
  color: #fff;
}

.reminderForm .textarea {
  font-family: inherit;
}

.reminderForm .colorPicker {
  display: block;
  margin-top: 3px;
}

.reminderForm .btnSubmit,
.reminderForm .btnCancel {
  font-family: inherit;
  font-size: 13px;
  display: inline-block;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  color: #fff;
}

.reminderForm .btnCancel {
  margin-left: 5px;
}

.rc-time-picker-panel {
  font-family: Arial, Helvetica, sans-serif;
}
